In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

data_set = pd.read_csv("C:/Sefkan/linear-regression-dataset.csv",sep=";")
data_set

    experience  salary  age
0          0.5    2500   22
1          0.0    2250   21
2          1.0    2750   23
3          5.0    8000   25
4          8.0    9000   28
5          4.0    6900   23
6         15.0   20000   35
7          7.0    8500   29
8          3.0    6000   22
9          2.0    3500   23
10        12.0   15000   32
11        10.0   13000   30
12        14.0   18000   34
13         6.0    7500   27

In [2]:
x = data_set.iloc[:,[0,2]].values
y = data_set.salary.values.reshape(-1,1)
print(x)
print(y)

[[ 0.5 22. ]
 [ 0.  21. ]
 [ 1.  23. ]
 [ 5.  25. ]
 [ 8.  28. ]
 [ 4.  23. ]
 [15.  35. ]
 [ 7.  29. ]
 [ 3.  22. ]
 [ 2.  23. ]
 [12.  32. ]
 [10.  30. ]
 [14.  34. ]
 [ 6.  27. ]]
[[ 2500]
 [ 2250]
 [ 2750]
 [ 8000]
 [ 9000]
 [ 6900]
 [20000]
 [ 8500]
 [ 6000]
 [ 3500]
 [15000]
 [13000]
 [18000]
 [ 7500]]

In [3]:
from sklearn.linear_model import LinearRegression
multiple_linear_regression = LinearRegression()
multiple_linear_regression.fit(x,y)

print("b0: ", multiple_linear_regression.intercept_)
print("b1,b2: ",multiple_linear_regression.coef_)

b0:  [10376.62747228]
b1,b2:  [[1525.50072054 -416.72218625]]

In [4]:
multiple_linear_regression.predict(np.array([[10,35],[5,35]]))

array([[11046.35815877],
       [ 3418.85455609]])